body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
}

#main-header{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 50px;
    box-sizing: border-box;
}

#main-header a{
    color: gold;
    text-decoration: none;
}

#page-header a{
    font-size: 25px;
}

#page-login{
    font-size: 18px;
    padding-right: 50px;
}

#main-navbar{
    background-color: black;
    color: white;
    padding: 15px;
    padding-left: 50px;
    box-sizing: border-box;
}

#main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-navbar li{
    display: inline;
}

#main-navbar a{
    color: green;
    text-decoration: none;
    font-size: 20px;
    padding-right: 15px;
}

#main-home{
    display: flex;
    box-sizing: border-box;
    width: 99%;
}

#home-news-pannel{
    padding-left: 50px;
    width: 90%;
    box-sizing: border-box;
}

#home-news-header h1{
    color: purple;
}

#home-news-title a{
    color: red;
    text-decoration: none;
}

#home-news-image img{
    width: 100%;
}

#home-news-author{
    text-align: right;
}

#home-news-author a{
    color: seagreen;
    text-decoration: none;
}

#home-guide-pannel{
    padding-left: 50px;
    width: 90%;
    box-sizing: border-box;
}

#home-guide-header{
    color: teal;
}

#home-guide-title a{
    color: olive;
    text-decoration: none;
}

#home-guide-image img{
    width: 100%;
}

#home-guide-author{
    text-align: right;
}

#home-guide-author a{
    color: tomato;
    text-decoration: none;
}

#main-footer{
    background-color: black;
    color: green;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

/* login */

#login-form{
    margin: auto;
    width: 30%;
    padding: 10px;
    padding-top: 50px;
}

#login-form input[type="text"]{
    padding: 5px;
    width:100%;
    box-sizing: border-box;
}

#login-img img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}

.button1{
    width: 100%;
    padding: 8px;
    background-color: darkgreen;
    color: white;
    border: none;
    box-sizing: border-box;
}

.button2{
    background-color: darkred;
    color: white;
    border: none;
    padding: 8px;
    box-sizing: border-box;
}

.forgotpass{
    float: right;
    box-sizing: border-box;
}

.forgotpass a{
    text-decoration: none;
    color: aqua;
}

#login-register{
    text-align: center;
}

#login-register a{
    text-decoration: none;
    color: aqua;
}

/* Register */
#reg-header1{
text-align: center;
color: gray;
box-sizing: border-box;
}

#reg-header2{
text-align: center;
color: magenta;
box-sizing: border-box;
}

#register-form{
    margin: auto;
    width: 35%;
    padding: 10px;
    padding-top: 50px;
}

#register-form input[type="text"]{
    padding: 5px;
    width:100%;
    box-sizing: border-box;
}

.button3{
    width: 100%;
    padding: 8px;
    background-color: darkgreen;
    color: white;
    border: none;
    box-sizing: border-box;
}

/* News */

#main-newspage{
    width: 60%;
    padding-left: 50px;
}

#main-news-header h1{
    color: purple;
}

#main-news-image img{
    width: 350px;
}

#main-news-item{
    display: flex;
    padding-bottom: 15px;
}

#main-news-author{
    text-align: right;
}

#main-news-details{
    padding-left: 15px;
}

#main-news-title a{
    color: red;
    text-decoration: none;
}

#main-news-author{
    color:seagreen;
}

#main-news-author a{
    color: seagreen;
    text-decoration: none;
}

/* Guide */

#main-guidepage{
    width: 60%;
    padding-left: 50px;
}

#main-guide-header{
    color: teal;
}

#main-guide-image img{
    width: 350px;
}

#main-guide-item{
    display: flex;
    padding-bottom: 15px;
}

#main-guide-author{
    text-align: right;
}

#main-guide-details{
    padding-left: 15px;
}

#main-guide-title a{
    color: olive;
    text-decoration: none;
}

#main-guide-author{
    color:tomato;
}

#main-guide-author a{
    color: tomato;
    text-decoration: none;
}

/* About */

#main-about{
    padding-top: 25px;
    margin: auto;
    width: 60%;
    box-sizing: border-box;
}

#about-header{
    color: magenta;
}

/* Reset */

#reset-form{
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
}

#reset-header{
    color: magenta;
    box-sizing: border-box;
}

#reset-forgot{
    margin-top: 15px;
    box-sizing: border-box;
}

#reset-form input[type="text"]{
    padding: 5px;
    width:100%;
    box-sizing: border-box;
}

.button4{
    width: 100%;
    padding: 8px;
    background-color: darkgreen;
    color: white;
    border: none;
    box-sizing: border-box;
    margin-top: 15px;
    box-sizing: border-box;
}